<div class="container">
	<% if(flash && flash.err) { %>
		<div class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<%- JSON.stringify(flash.err[error]) %>
	<% }) %>
		</div>
	<% } %>
	<h3>Pending Requests</h3>
	<table class='table table-striped table-hover'>
		<tr>
			<th></th>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Request Type</th>
			<th></th>
		</tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</table>

	<h3>User Administration</h3>
	<table class='table table-striped table-hover'>
		<tr>
			<th></th>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Role</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>


		<% _.each(users, function(user) { %>
		<tr data-id="<%= user.id %>" data-model="user">
			<td></td>
			<td><%= user.id %></td>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.email %></td>
			<td><% if (user.admin) { %>
					Administrator
				<% } else { %>
					Researcher
				<% } %>
			</td>
			<td><a href="/dashboard/display/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
			<td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>

			<td><form action="/user/destroy/<%= user.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form></td>
			<% if (!user.admin) { %>
				<td><a href="/user/switch/<%= user.id %>" class="btn btn-sm btn-primary">Make Admin</a></td>
			<% } %>
			<% if (user.admin) { %>
				<td><a href="/user/switch/<%= user.id %>" class="btn btn-sm btn-primary">Remove Admin</a></td>
			<% } %>
		</tr> 

		<% }) %>
	</table>
</div>