<div class="mini-banner auto">
	<div class="container">
		<h2> Edit Profile </h2>
		<% if (messages && messages['error']) { %>
		  <div class="alert alert-warning">
		  <% messages['error'].forEach(function(message) { %>
		    <%= message %>
		    <br>
		  <% }); %>
		  </div>
		  <br>
		<% } %>
		<% if (messages && messages['success']) { %>
		  <div class="alert alert-success">
		  <% messages['success'].forEach(function(message) { %>
		    <%= message %>
		    <br>
		  <% }); %>
		  </div>
		  <br>
		<% } %>	
	</div>
</div>
<div class="container wrapper">
	<form action="/user/save/<%= user.id %>" method="POST" class="form-signin">
		<div class="form-group">
			<label>First Name:</label> 
			<input value="<%= user.firstName %>" name="firstName" type="text" class="form-control" disabled>
		</div>
		<div class="form-group">
			<label>Last Name:</label>
			<input value="<%= user.lastName %>" name="lastName" type="text" class="form-control" disabled>
		</div>
		<div class="form-group">
			<label>Email:</label>
			<input value="<%= user.email %>" name="email" type="text" class="form-control">
		</div>
		<div class="form-group">
			<label>Association:</label>
			<input value="" name="association" type="text" class="form-control" disabled>
		</div>
		<div class="form-group">
			<label>Public Key:</label>
			<textarea class="form-control" name="publicKey" rows="6"><%= user.publicKey %></textarea>
		</div>
		<div class="form-group">
			<label>Public Key ID:</label>
			<input value="<%= user.publicKeyID %>" name="publicKeyID" type="text" class="form-control" disabled>
		</div>
		<% if (session.authenticated && session.user.admin) { %>
			<% if (user.admin) { %>
				<input type="hidden" name="admin" value="unchecked">
				<label class="checkbox"><input type="checkbox" name="admin" checked>Admin</label>
			<% } else { %>
				<input type="hidden" name="admin" value="unchecked">
				<label class="checkbox"><input type="checkbox" name="admin">Admin</label>
			<% } %> 
		<% } %> 
		<input type="submit" value="Proceed" class="btn btn-sm btn-primary btn-block"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
	</form>
</div
