<div class="mini-banner auto">
  <div class="container">
    <h2>User Information: UID <%= user.id %></h2>
    <% if (messages && messages['error'].length > 0) { %>
      <div class="alert alert-danger">
      <% messages['error'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['warning'].length > 0) { %>
      <div class="alert alert-warning">
      <% messages['warning'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['success'].length > 0) { %>
      <div class="alert alert-success">
      <% messages['success'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %> 
  </div>
</div>
<div class="sub-banner">
  <div class="container">
    <h2>Profile</h2>
  </div>
</div>
<div class="container wrapper">
  <!-- User Information -->
  <h2>Personal Information</h2>
  <p><b>First Name: </b> <%= user.firstName %></p>
  <p><b>Last Name: </b> <%= user.lastName %></p>
  <p><b>Email Address: </b> <%= user.email %></p>
  <p><b>GPG Public Key ID: </b> <%= user.publicKeyID %></p>
  <p><b>GPG Public Key: </b> </p>
  <textarea class="full" rows="5" cols="70" disabled><%= user.publicKey %></textarea>

  <br><br>

  <!-- Request Information -->
  <h2>Requests</h2>
  <table class="table table-striped table-hover" id="requests-table">
    <thead>
      <tr>
        <th>Dataset</th>
        <th>Request Type</th>
        <th>Date Requested</th>
        <th>Status</th>
        <th>Approve</th>
        <th>Reject</th>
      </tr>
    </thead>

    <tbody>
      <% _.each(requests, function(request) { %>
        <tr data-id="<%= request.id %>" data-model="request">
          <td><%= request.dataset %></td>
          <td><%= request.requestType %></td>
          <td><%= request.createdAt %></td>
          <% if (request.approved) { %>
            <td><font color="green">Approved</font></td>
          <% } %>
          <% if (request.rejected) { %>
            <td><font color="red">Rejected</font></td>
          <% } %>
          <% if (!request.approved && !request.rejected) { %>
            <td><font color="orange">Pending</font></td>
          <% } %>
          <td><a href="/request/approve/<%= request.id %>" class="btn btn-sm btn-success">Approve</a></td>
          <td>
            <form action="/request/reject/<%= request.id %>" method="POST">
            <input type="hidden" name="_method" value="reject"/>
            <input type="submit" class="btn btn-sm btn-danger" value="Reject"/>
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
            </td>
        </tr> 
      <% }); %>
    </tbody>
  </table>

  <br>

  <!-- Analytic Modules Information -->
  <h2>Analytic Modules</h2>
  <table class='table table-striped table-hover' id="analytics-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Date Uploaded</th>
        <th>Status</th>
        <th>Approve</th>
        <th>Reject</th>
      </tr>
    </thead>

    <tbody>
      <% _.each(analytics, function(analytic) { %>
        <tr data-id="<%= analytic.id %>" data-model="analytic">
          <td><%= analytic.name %></td>
          <td><%= analytic.type %></td>
          <td><%= analytic.createdAt %></td>
          <% if (analytic.approved) { %>
            <td><font color="green">Approved</font></td>
          <% } %>
          <% if (analytic.rejected) { %>
            <td><font color="red">Rejected</font></td>
          <% } %>
          <% if (!analytic.approved && !analytic.rejected) { %>
            <td><font color="orange">Pending</font></td>
          <% } %>
          <td><a href="/analytic/approve/<%= analytic.id %>" class="btn btn-sm btn-success">Approve</a></td>
          <td>
            <form action="/analytic/reject/<%= analytic.id %>" method="POST">
            <input type="hidden" name="_method" value="reject"/>
            <input type="submit" class="btn btn-sm btn-danger" value="Reject"/>
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
            </td>
        </tr> 
      <% }); %>
    </tbody>
  </table>
</div>

<script>
  // Table pagination
  $(document).ready(function() {
      $('#requests-table').dataTable();
      $('#analytics-table').dataTable();
  });
</script>