<div class="mini-banner auto">
	<div class="container">
		<h2>Analytics</h2>
    <% if (messages && messages['error'].length > 0) { %>
      <div class="alert alert-danger">
      <% messages['error'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['warning'].length > 0) { %>
      <div class="alert alert-warning">
      <% messages['warning'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['success'].length > 0) { %>
      <div class="alert alert-success">
      <% messages['success'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %> 
	</div>
</div>
<div class="sub-banner">
	<div class="container">
			<h2 id="step">Step 1: Choose your analytics visualization.</h2>
			<div class="progress">
			  <div class="progress-bar active progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
			    <span class="sr-only">2%</span>
			  </div>
			</div>
	</div>
</div>
<div class="container wrapper">
	<div class="row">
    <div class="col-md-12">
    This is where you can view analytics uploaded by other researchers. Note that only datasets that you have been granted access to are allowed to be viewed here.
    </div>

    <div class="col-md-6">
      <h3>Featured Visualizations</h3>
      <p>N/A</p>
    </div>
    <div class="col-md-6">
      <h3>Starred Visualizations</h3>
      <div id="personal-starred">
        <% starredVisuals.forEach(function (visual) { %>
          <% for (i = 0; i < visualizations.length; i++) { %>
            <% if (visualizations[i].id == visual.id) { %>
              <a href="#<%= visual.name %>-<%= visualizations[i].owner.id %>">"<%= visual.name %>"</a> by <%= visualizations[i].owner.firstName %> <%= visualizations[i].owner.lastName %><br>
              <% break; %>
            <% } %>
          <% } %>
        <% }); %>
      </div>
    </div>

    <!-- Divider -->
    <div class="col-md-12">
      <hr>
    </div>

    <!-- Show all visualizations here -->
		<div class="col-md-8">
			<h3>Visualizations</h3>
			<form action="/analytics/display">
				<table id="analytics-modules" class="table table-striped table-hover">
					<thead>
            <tr>
              <th></th>
  						<th>Visualization</th>
  						<th>Author</th>
  						<th>Datasets</th>
  						<th></th>
  					</tr>
          </thead>
          <tbody>
  					<% _.each(visualizations, function(visualization) {%>
  						<% if (visualization.approved) { %>
  							<% var author = visualization.owner %>
  							<tr id="<%= visualization.name %>-<%= visualization.owner.id %>" name="<%= visualization.name %>" owner="<%= visualization.owner.firstName %> <%=visualization.owner.lastName %>" description="<%=visualization.description%>">
                  <!-- Implement on click to be glyphicon-star -->
                  <td class="star-wrap">
                    <% if (starredIds.indexOf(visualization.id) > -1) {%>
                      <span id="star-<%= visualization.id %>" class="gold-star glyphicon glyphicon-star-empty md" onclick="starVisual(<%= visualization.id %>)"></span>
                    <% } else { %>
                      <span id="star-<%= visualization.id %>" class="grey-star glyphicon glyphicon-star-empty md" onclick="starVisual(<%= visualization.id %>)"></span>
                    <% } %>
                  </td>
  								<td><%= visualization.name %></td>
  								<td><%= author.firstName %> <%= author.lastName %></td>
  								<td>
  									<select id="select-<%= visualization.id %>" name="requestedData" onchange="addDataset(<%= visualization.id %>);">
  										<option value="select">select</option>
                      <!-- Key: the safe file name of the data type, 
                           Value: an array where the 0th element is the display name of the data type, the 1st element is the actual dataset filename minus ext -->
  										<% for (var dataModelSafeName in datasets) { %>
                        <% if (datasets.hasOwnProperty(dataModelSafeName)) { %>
                          <% var currDataset = datasets[dataModelSafeName] %>
                          <% for (i = 0; i < currDataset.length; i++) { %>
                            <% var dataModelDisplayName = currDataset[i][0], datasetName = currDataset[i][1] %>
                            <% if (visualization.dataModels.indexOf(dataModelDisplayName) > -1) { %>
                              <option value="<%= dataModelSafeName %>__<%= datasetName %>"><%= dataModelDisplayName %>: <%= datasetName %></option>
                            <% } %>
                          <% } %>
                        <% } %>
  										<% } %>
  									</select>
  								</td>
  								<td><a id="a-<%= visualization.id %>" class="btn btn-sm btn-primary" href="/analytics/share/<%= visualization.type %>/<%= visualization.owner.id %>/<%= visualization.id %>/select">Select</a></td>

                  <!-- TODO: Use sockets for optimized performance -->
                  <!-- <td><button id="a-<%= visualization.id %>" class="btn btn-sm btn-primary" onclick="loadVisual("<%= visualization.id %>", "<%= visualization.type %>", "<%= visualization.owner.id %>");">Select</button></td> -->
  							</tr>
  						<% } %>
					  <% }); %>
          </tbody>
				</table>
			</form>
		</div>
		<div class="col-md-offset-1 col-md-3">
  		<h3>Description</h3>
  		<div id="analytics-description">
  		<p>Hover over a row to see the description.</p>
      </div>
		</div>
	</div>
</div>

<script>
function addDataset(visualID) {
	var selectField = document.getElementById("select-" + visualID);
	var dataset = selectField.options[selectField.selectedIndex].value;

	var visualLink = document.getElementById("a-" + visualID).href.split("/").slice(0, -1).join("/");
	document.getElementById("a-" + visualID).href = visualLink + "/" + dataset;
}
</script>

<script>
window.socket = io.socket;
function starVisual(visualID) {
  // Socket handling for notifications
  var star = document.getElementById("star-" + visualID.toString());
  if (star.className == "gold-star glyphicon glyphicon-star-empty md") {
    star.className = "grey-star glyphicon glyphicon-star-empty md";
  } else {
    star.className = "gold-star glyphicon glyphicon-star-empty md";
  }
  window.socket.post('/visualization/star', { id: visualID, _csrf: "<%= _csrf %>" }, function (resData, jwres) {
    for (var key in resData) {
      if (resData.hasOwnProperty(key)) {
        alert(resData[key]);
      }
    }
  });
}
</script>


<script>
window.socket = io.socket;
function loadVisual(visualID, visualType, userID) {
  // Socket handling for loading visualizations
  var selectField = document.getElementById("select-" + visualID);
  var dataset = selectField.options[selectField.selectedIndex].value;

  var params = { visualType: visualType,
                 visualID: visualID,
                 userID: userID,
                 datasetName: dataset }

  window.socket.post('/analytics/view', params, function (resData, jwres) {
    // do something
  });
}

function description(name, owner, d) {
  $("#analytics-description").html("<h4><u>" + name + " by " + owner + "</u></h4>" + "<p>" + d + "</p>");
}
</script>

<script>
  // Table pagination
  $(document).ready(function() {
    $('#analytics-modules').dataTable();
    $('#analytics-modules tbody tr').hover(
      function() {
        var owner = $(this).attr('owner');
        var name = $(this).attr('name');
        var d = $(this).attr('description');
        description(name,owner,d);
      },
      function() {
        
      }
    );
  });
</script>
