<div class="mini-banner auto">
	<div class="container">
		<h2>Analytics</h2>
    <% if (messages && messages['error'].length > 0) { %>
      <div class="alert alert-danger">
      <% messages['error'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['warning'].length > 0) { %>
      <div class="alert alert-warning">
      <% messages['warning'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['success'].length > 0) { %>
      <div class="alert alert-success">
      <% messages['success'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %> 
	</div>
</div>
<div class="sub-banner">
	<div class="container">
			<h2 id="step">Step 1: Choose your analytics visualization.</h2>
			<div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    <span class="sr-only">0%</span>
			  </div>
			</div>
	</div>
</div>
<div class="container wrapper">
	<div class="row">
    <div class="col-md-12">
    This is where you can view analytics uploaded by other researchers. Note that only datasets that you have been granted access to are allowed to be viewed here.
    </div>

		<div class="col-md-8">
			<h3>Visualizations</h3>
			<form action="/analytics/display">
				<table class='table table-striped table-hover'>
					<tr>
						<th>Visualization</th>
						<th>Author</th>
						<th>Datasets</th>
						<th></th>
					</tr>
					<% _.each(visualizations, function(visualization) {%>
						<% if (visualization.approved) { %>
							<% var author = null %>
							<% for (i = 0; i < users.length; i++) { %>
								<% if (visualization.userID == users[i].id) author = users[i]; %>
							<% } %>
							<tr>
								<td><%= visualization.name %></td>
								<td><%= author.firstName %> <%= author.lastName %></td>
								<td>
									<select id="select-<%= visualization.id %>" name="requestedData" onchange="addDataset(<%= visualization.id %>);">
										<option value="select">select</option>
                    <!-- Key: the safe file name of the data type, 
                         Value: an array where the 0th element is the display name of the data type, the 1st element is the actual dataset filename minus ext -->
										<% for (var datatypeSafeName in datasets) { %>
                      <% if (datasets.hasOwnProperty(datatypeSafeName)) { %>
                        <% var currDataset = datasets[datatypeSafeName] %>
                        <% for (i = 0; i < currDataset.length; i++) { %>
                          <% var datatypeDisplayName = currDataset[i][0], datasetName = currDataset[i][1] %>
                          <% if (visualization.datatypes.indexOf(datatypeDisplayName) > -1) { %>
											    <option value="<%= datatypeSafeName %>__<%= datasetName %>"><%= datatypeDisplayName %>: <%= datasetName %></option>
                          <% } %>
                        <% } %>
                      <% } %>
										<% } %>
									</select>
								</td>
								<td><a id="a-<%= visualization.id %>" class="btn btn-sm btn-primary" href="/analytics/share/<%= visualization.type %>/<%= visualization.userID %>/<%= visualization.id %>/select">Select</a></td>
							</tr>
						<% } %>
					<% }); %>
				</table>
			</form>
		</div>
		<div class="col-md-4">
		<h3>Preview Pane</h3>
		<br>
		<br>
		<p>Current unavailable</p>
		</div>
	</div>
</div>

<script>
function addDataset(visualID) {
	var selectField = document.getElementById("select-" + visualID);
	var dataset = selectField.options[selectField.selectedIndex].value;

	var visualLink = document.getElementById("a-" + visualID).href.split("/").slice(0, -1).join("/");
	document.getElementById("a-" + visualID).href = visualLink + "/" + dataset;
}
</script>

